# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "235d0dec4f29672f0febc005b8ce344c"
name = "Vibita Lite"
application_url = "https://shopify.vibita.io"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
  uri = "/webhooks"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_merchant_managed_fulfillment_orders"

[auth]
redirect_urls = [
  "https://shopify.vibita.io/auth/callback",
  "https://shopify.vibita.io/auth/shopify/callback",
  "https://shopify.vibita.io/api/auth/callback"
]
